.booking{
  &__item{
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid $gray;
    border-radius: 25px;
    transition: background-color 0.3s ease-out;
    &:last-child{
      margin-bottom: 0;
    }
    &__num{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: $violet;
      border-radius: 50%;
      color: #fff;
      font-weight: 500;
      margin-right: 10px;
      font-size: 14px;
    }
    &__title{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    @media (hover:hover){
      &:hover{
        background-color: rgba($violet-hover,0.1);
      }
    }
  }
}