.top-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    margin-top: 25px;
    width: 100%;
  }


  &__link {
    &__wrapper {
      margin-left: 15px;
    }
  }

  &__deposit {
    margin-left: 15px;

    &__num {
      font-size: 22px;
      font-weight: 600;
      color: $violet;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid $gray;
    padding: 30px 60px;
    margin-bottom: 25px;
    width: 100%;
    transition: background-color 0.3s ease-out;
    @media (hover: hover) {
      &:hover {
        background-color: rgba($violet-hover, 0.1);
      }
    }

    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      min-width: 45px;
      height: 45px;
      background-color: $violet;
      border-radius: 50%;
      color: $white;
      font-weight: 500;
      margin-right: 35px;
    }

    &__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      margin: 0 30px 0 0;

      img {
        object-fit: contain;
        max-height: 70px;
      }

      .image-title {
        margin-top: 15px;
      }
    }
  }

  &__tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    text-align: center;
    margin-right: 15px;
  }

  @media screen and (max-width: 1024px) {
    &__cat {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__items {
      margin-bottom: 15px;
    }
    &__item {
      flex-wrap: wrap;

      &__image {
        width: 33%;
        margin: 0;
        justify-content: center;
        padding: 0 15px;
      }

      &__num {
        margin: 0 auto;
      }
    }
    &__tags, .kk-star-ratings, &__deposit, &__link__wrapper {
      width: 33%;
      margin: 0;
      display: flex;
      justify-content: center;
      padding: 0 15px;
    }
    .kk-star-ratings, &__deposit, &__link__wrapper {
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    &__item {
      padding: 20px;
      &__image {
        width: 50%;
      }
    }
    &__tags {
      margin-top: 30px;
    }
    &__tags, .kk-star-ratings, &__deposit, &__link__wrapper {
      width: 50%;
    }
  }
  @media screen and (max-width: 480px) {
    &__item {
      padding: 20px;
      &__image {
        width: 100%;
        margin: 30px auto 0;
      }
    }
    &__tags {
      margin: 30px auto 0;
    }
    &__tags, .kk-star-ratings, &__deposit, &__link__wrapper {
      width: 100%;
      margin: 30px auto 0;
    }
  }
}
